<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="First Suite" verbose="1">
    <test name="First Test">
        <classes>
            <class name="test.thirdpackage.FirstTestClass" />
        </classes>
    </test>
    <test name="SecondTest">
        <classes>
            <class name="test.thirdpackage.SecondTestClass" />
        </classes>
    </test>
</suite>

